<a href="https://colab.research.google.com/github/Saifullah785/deep-learning-projects/blob/main/Project_01_House_Price_Prediction_using_ANN/Project_01_House_Price_Prediction_using_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing Packages**

In [17]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# data preprocessing modules from scikit-learn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Neural network modules from Keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.callbacks import EarlyStopping

In [18]:
# Read the housing data from a CSV file into a pandas DataFrame
df = pd.read_csv('/content/housing.csv')
# Display the first 5 rows of the DataFrame
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [19]:
# Display information about the DataFrame, including data types and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [20]:
# Check for missing values in each column and sum them up
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [21]:
# Drop rows with any missing values from the DataFrame
df.dropna(axis=0, inplace=True)

In [22]:
# Display the shape of the DataFrame (number of rows and columns)
df.shape

(20433, 10)

In [23]:
# Get the counts of each unique value in the 'ocean_proximity' column
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [24]:
# Map the categorical 'ocean_proximity' values to numerical values
df['ocean_proximity'] = df['ocean_proximity'].map({'NEAR BAY':3, '<1H OCEAN':0, 'INLAND':1, 'NEAR OCEAN':2, 'ISLAND':4})

In [25]:
# Display the first 5 rows of the DataFrame after mapping 'ocean_proximity'
df.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0                3
1    -122.22     37.86  ...            358500.0                3
2    -122.24     37.85  ...            352100.0                3
3    -122.25     37.85  ...            341300.0                3
4    -122.25     37.85  ...            342200.0                3

[5 rows x 10 columns]

# **Train test split**

In [26]:
# Define the features (X) by dropping the target variable 'median_house_value'
X = df.drop('median_house_value', axis=1)
# Define the target variable (y) as the 'median_house_value' column
y = df['median_house_value']
# Print the shapes of the feature and target variables
print(X.shape)
print(y.shape)

(20433, 9)
(20433,)

In [27]:
# Convert the pandas DataFrame and Series to NumPy arrays
X = X.values
y = y.values

In [28]:
# Display the NumPy array X (features)
X

array([[-1.2223e+02,  3.7880e+01,  4.1000e+01, ...,  1.2600e+02,
         8.3252e+00,  3.0000e+00],
       [-1.2222e+02,  3.7860e+01,  2.1000e+01, ...,  1.1380e+03,
         8.3014e+00,  3.0000e+00],
       [-1.2224e+02,  3.7850e+01,  5.2000e+01, ...,  1.7700e+02,
         7.2574e+00,  3.0000e+00],
       ...,
       [-1.2122e+02,  3.9430e+01,  1.7000e+01, ...,  4.3300e+02,
         1.7000e+00,  1.0000e+00],
       [-1.2132e+02,  3.9430e+01,  1.8000e+01, ...,  3.4900e+02,
         1.8672e+00,  1.0000e+00],
       [-1.2124e+02,  3.9370e+01,  1.6000e+01, ...,  5.3000e+02,
         2.3886e+00,  1.0000e+00]])

In [29]:
# Display the NumPy array y (target variable)
y

array([452600., 358500., 352100., ...,  92300.,  84700.,  89400.])

In [30]:
# Split the data into training and testing sets
# test_size=0.2 means 20% of the data will be used for testing
# random_state=123 ensures reproducibility of the split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

# Print the shapes of the resulting training and testing sets
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(16346, 9)
(4087, 9)
(16346,)
(4087,)